<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>DataSet-SPA-Flower</title>
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="./app.component.css" rel="stylesheet" />


  
  <!-- Bootstrap Icons-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />

  <!-- Google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
    rel="stylesheet" type="text/css" />

  <!-- SimpleLightbox plugin CSS-->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />

</head>

<body>
  <!-- Responsive navbar-->
  <app-navigation></app-navigation>
  <!-- Page Content-->
  <div class="container px-4 px-lg-5">
    <section id="Home">
      <app-data-info 
      title = 'Setosa' 
      img = 'https://i.pinimg.com/564x/f4/94/e5/f494e56ea1de81e15cc2e631fd3d9082.jpg'
      info = "La Setosa es una de las tres principales especies de orquídeas en el género botánico Paphiopedilum. Reconocible por sus característicos pétalos y sépalos en forma de zapatilla, la Paphiopedilum setosum es apreciada por sus vibrantes colores y elegante forma. Originaria de las regiones tropicales del sudeste asiático, como Malasia e Indonesia, esta orquídea prospera en ambientes de alta humedad y sombra moderada. Su cultivo es apreciado tanto en jardines como en colecciones de plantas, y su singularidad la convierte en una opción popular entre los entusiastas de las orquídeas."
      >

      </app-data-info>
      
    
      <app-card class="tableCards">
        
      </app-card>      
    </section>

    <section id="versicolor">
      <app-data-info 
      title = 'Versicolor'
      img="https://www.picturethisai.com/image-handle/website_cmsname/image/1080/154253913686540318.jpeg?x-oss-process=image/format,webp/resize,s_422&v=1.2"
      info="
      La versicolor, científicamente conocida como Tardigrada versicolor, es una especie de pequeño tardígrado que habita en una variedad de entornos acuáticos, desde charcos hasta cuerpos de agua dulce. Estos microorganismos extremadamente resistentes son famosos por su capacidad para sobrevivir en condiciones ambientales extremadamente adversas, como temperaturas extremadamente altas o bajas, altos niveles de radiación y sequías prolongadas. Su capacidad única para entrar en un estado de desecación, en el que pierden la mayor parte de su agua corporal y detienen sus funciones metabólicas, les permite sobrevivir durante largos períodos de tiempo en condiciones desfavorables y luego reanimarse cuando las condiciones mejoran."
      >
      </app-data-info>
      <app-card2 class="tableCards">

      </app-card2>
    </section>

    <section id="virginica">
      <app-data-info 
      title = 'virginica'
      img="https://static.wixstatic.com/media/620bd8_504f167ba277481597229779fd235d7b~mv2.png/v1/fill/w_576,h_420,al_c,lg_1,q_85,enc_auto/620bd8_504f167ba277481597229779fd235d7b~mv2.png"
      info="La virginica, también conocida como Triosteum pinnatifidum, es una planta nativa de América del Norte que pertenece a la familia de las caprifoliáceas. Esta especie se caracteriza por sus hojas pinnadas y sus llamativas flores de color blanco o amarillo pálido, que florecen en la primavera. La virginica es apreciada tanto por su valor ornamental en jardinería como por su importancia en la ecología local, ya que sus frutos y flores atraen a diversos polinizadores y aves. Además, algunas comunidades indígenas han utilizado partes de la planta por sus propiedades medicinales y culinarias."
      
      >
      </app-data-info>

      <app-card3 class="tableCards">

      </app-card3>
      </section>

      <section id="Grafico">

      </section>
  </div>
  <!-- Footer-->
  <footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5">
      <p class="m-0 text-center text-white">Copyright &copy; Samantha && Joseph</p>
    </div>
  </footer>

  <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
</body>

</html>